@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4EDE2;
}
/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #F4EDE2;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #CC9933;
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #990066;
}